  _____    _           ______  ___________
 |  ___|  | |          | ___ \/  ___|  _  \
 | |__  __| | ___ _ __ | |_/ /\ `--.| | | |
 |  __|/ _` |/ _ \ '_ \| ___ \ `--. \ | | |
 | |__| (_| |  __/ | | | |_/ //\__/ / |/ /
 \____/\__,_|\___|_| |_\____/ \____/|___/

Server Stats at a Glance:
------------------------

OS:     FreeBSD
Kernel: 10.1-RELEASE
Build:  Mon May 11 02:02:06 UTC 2015
